.flex{
    display: flex ;
}

.justify-content{
    justify-content: center;
}

.algn-content{
    align-items: center;
}

.bg-grey{
    background-color: #212121;   
    color: white;
}

.invert{
    filter: invert(1);
    background-color: transparent;
}

.bg-black{
    background-color: black;
    color: white;
}
.m-0{
    margin: 10px ;
}

.pointer{
    cursor: pointer;
}
